.yourClickableClass {
    -webkit-touch-callout: none;
    /* disables iOS callout (copy/save) */
    -webkit-user-select: none;
    /* disables text selection */
    user-select: none;
    touch-action: manipulation;
    /* disables double-tap zoom & unwanted gestures */
}

/* <> ------------------------- DEFAULT DIVs ------------------------- <> */
.flexRow {
    display: flex;
    flex-direction: row;
}
.flexRow.spaceBetweenJC {
    justify-content: space-between;
}


.flexColumn {
    display: flex;
    flex-direction: column;
}


/* <> ------------------------- TRANSPARENT CANVAS ------------------------- <> */
.transparentCanvas {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: var(--transparentCanvasBgOne);
    padding: 10px;
    border-radius: 6px;
}

/* <> ------------------------- MODALS ------------------------- <> */
.myModal {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--modalBackground);
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.myModal.underDeliveryLayout {
    position: fixed;
    inset: 0;
}

.modalInside {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-height: 90%;
    border: 1px solid var(--borderColorTwoTransparent);
    background-color: var(--mainColor);
    color: var(--fontColorOne);
    padding: 10px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* <> ------------------------- BUTTONS ------------------------- <> */
button:hover {
    border-color: var(--borderColorTwo);
}

/* Standart Buttons */
.buttonStandart {
    background-color: var(--secondColor);
    color: var(--fontColorOne);
    border: 1px solid var(--borderColorOne);
    height: 40px;
    margin-left: 0px;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

.buttonStandart.green {
    background-color: var(--greenOne);
}

.buttonStandart.red {
    background-color: var(--redOne);
}

.buttonStandart.blue {
    background-color: var(--blueOne);
}

/* Floating Buttons */
.floatingButton {
    align-items: center;
    z-index: 2;
    background-color: var(--floatingBlackButton);
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    box-shadow: -3px 3px 4px var(--secondColorInverseTransparent);
    border-radius: 6px;
    cursor: pointer;
    height: 38px;
}

.floatingButton.green {
    background-color: var(--greenOne);
}

.floatingButton.greenTwo {
    background-color: var(--greenTwo);
}

.floatingButton.red {
    background-color: var(--redOne);
}

.floatingButton.blue {
    background-color: var(--blueOne);
}

.roundedButton {
    display: flex;
    border-radius: 50%;
    background-color: lightgrey;
    padding: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 42px;
    height: 42px;
}

.roundedButton.red {
    background-color: var(--redOne);
}

.roundedButton.green {
    background-color: var(--greenOne);
}

.roundedButton.small {
    width: 33px;
    height: 33px;
}


/* <> ------------------------- INPUTS && TEXTAREAS ------------------------- <> */

/* Floating Buttons */
.inputStandart {
    width: 90%;
    height: 35px;
    background-color: var(--secondColor);
    color: var(--fontColorOne);
    font-weight: 700;
    border-radius: 3px;
    border: 1px solid var(--borderColorTwo);
    padding-left: 10px;
}

.inputStandart:focus {
    outline: 2px solid var(--borderColorTwoTransparent);
}

.inputStandart:hover {
    outline: 2px solid var(--borderColorTwoTransparent);
}


.textAreaStandart {
    width: 90%;
    background-color: var(--secondColor);
    color: var(--fontColorOne);
    font-weight: 700;
    border-radius: 3px;
    border: 1px solid var(--borderColorTwo);
    padding-left: 10px;

}

.textAreaStandart:focus {
    outline: 2px solid var(--borderColorTwoTransparent);
    /* optional: removes the default blue outline */
}

/* <> ------------------------- AUXILIARY ------------------------- <> */
.fullCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}