.myModal {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--modalBackground);
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.modalInside {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-height: 90%;
    border: 1px solid var(--borderColorTwoTransparent);
    background-color: var(--mainColor);
    color: var(--fontColorOne);
    padding: 10px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.buttomDarkGray {
    background-color: var(--secondColor);
    color: var(--fontColorOne);
    border: 1px solid var(--borderColorOne);
    height: 40px;
    margin-left: 0px;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

.buttomDarkGreen {
    background-color: var(--greenOne);
    color: white;
    border: 1px solid var(--borderColorOne);
    height: 40px;
    margin-left: 0px;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

.buttomDarkRed {
    background-color: var(--redOne);
    color: white;
    border: 1px solid var(--borderColorOne);
    height: 40px;
    margin-left: 0px;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

.buttomDarkBlue {
    background-color: var(--blueOne);
    color: white;
    border: 1px solid var(--borderColorOne);
    height: 40px;
    margin-left: 0px;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

.floatingButton {
    z-index: 8;
    background-color: var(--floatingBlackButton);
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    box-shadow: -3px 3px 4px var(--secondColorInverseTransparent);
    border-radius: 6px;
}

button:hover {
    border-color: var(--borderColorTwo);
}

.inputOne{
    width: 90%;
    height: 35px;
    background-color: var(--secondColor);
    color: var(--fontColorOne);
    font-weight: 700;
    border-radius: 3px;
    border: 1px solid var(--borderColorTwo);
    padding-left: 10px;
}

.inputOne:focus {
    outline: 2px solid var(--borderColorTwoTransparent); /* optional: removes the default blue outline */
}

.textAreaOne{
    width: 90%;
    background-color: var(--secondColor);
    color: var(--fontColorOne);
    font-weight: 700;
    border-radius: 3px;
    border: 1px solid var(--borderColorTwo);
    padding-left: 10px;
    
}

.textAreaOne:focus {
    outline: 2px solid var(--borderColorTwoTransparent); /* optional: removes the default blue outline */
}

